/* Azeret Mono */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
  /* font-family: 'JetBrains Mono', monospace; */
  font-family: 'Azeret Mono', monospace;
  color:#323330;
}

button {
  font-family: 'Azeret Mono', monospace;
  font-size: 1em;
  /* letter-spacing: 1px; */
  padding: 15px 20px;
  border: 0;
  font-weight: 700;
  background-color: #FFE066;
  color: #50514F;
}

button:hover {
  background-color: #f6c709;
}

/*
#50514F
#F25F5C
#FFE066
#247BA0
#70C1B3
#9999C3
#7B8CDE
*/


/**
* Main Page Setup
**/

.main-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.main-header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #97e2d5;
  justify-content: center;
  align-items: center;
}

.main-header h1 {
  font-weight: 700;
  font-size: 30px;
  color: #50514F;
}

.loading-view {
  background-color: #50514F;
  color: #FFE066;
  display: flex;
  flex-flow: column nowrap;
  height: 90%;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.loading-view img {
  margin-top: 100px;
  width: 200px;
}

.loading-view h2 {
  font-size: 2rem;
}

.start-view {
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  background-color: #7B8CDE;
}

.start-view h2 {
  margin: 0;
}

.play-hunt {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
}

.play-hunt select {
  width: 100%;
  padding: 20px;
  border: 0;
  font-weight: 600;
}

.create-hunt {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  width: max-content;
  gap: 20px;
  padding: 25px;
  background-color: #50514F;
  color: white;
}

.hunt-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.infobox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 35%;
  padding: 20px;
  background-color: #97e2d5;
  color: #50514F;
  box-sizing: border-box;
}

.infobox-content {
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.infobox h2 {
  font-size: 1rem;
  line-height: 1.5;
  background-color: cornsilk;
  color:#323330;
  padding: 10px;
  font-weight: 600;
  margin: 0;
}

.infobox h3 {
  font-size: 0.9rem;
  color: #50514F;
  background-color: #FFE066;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
}

.info-container h2 {
  padding: 0;
  margin: 0;
}

.found-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
}

.found-view h2 {
  background-color: #FFE066;
  padding: 10px;
  margin: 0;
}

.found-view button {
  background-color: #247BA0;
  color: white;
}

.found-view button:hover {
  background-color: #1a5e7a;
}

.finished-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  /* gap: 10px; */
}

.finished-view h3 {
  margin: 0;
  line-height: 1.5;
  font-size: 0.7rem;
}

.finished-view p {
  padding: 0;
  background-color: antiquewhite;
  padding: 10px;
  font-size: 0.9rem;
}

.mapIcon {
  background-color: blue;
}

.userPositionMarker {
  height: 50px;
}



/**
* Create New Hunt View
**/

.create-view {
  height: 90%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.create-view h3 {
  height: 5%;
  display: flex;
  flex-flow: row nowrap;
  height: 5%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #7B8CDE;
  color: white;
  /* padding: 15px; */
  margin: 0;
  box-sizing: border-box;
}

.name-hunt-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  background-color: #7B8CDE;
}

.name-hunt-view h2 {
  margin: 40px 0 0 0;
  color: white;
  font-size: 1.3rem;
}

.name-hunt-view input {
  padding: 10px;
  width: 80%;
  margin-bottom: 30px;
}

.name-hunt-view button {
  width: fit-content;
}

.add-post-view {
  height: 100%;
  width: 100%;
}

.new-post-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 45%;
  background-color: #7B8CDE;
}

.new-post-info label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 10px;
  font-weight: 700;
}

.new-post-info input {
  padding: 10px;
  min-width:0; /* Remove the automatic minimum size set so the element can shrink*/
  width: 87%; /* Set any value of width here as reference*/
  flex: 1; /* make the item grow to fill the remaining space */
}

.new-post-info button {
  width: fit-content;
}

.post-saved-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 30px;
  background-color: #7B8CDE;
}

.post-saved-view h2 {
  margin: 100px 0 0 0;
}

.final-message-and-submit {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: fit-content;
  font-weight: 700;
  gap: 20px;
  background-color: #97e2d5;
  padding: 30px;
}

.final-message-and-submit button {
  width: fit-content;
}